html {
  scroll-behavior: smooth;
}

body {
  /* background-color:aqua; */
  font-family: Nunito;

  background-color: #f7f7f7;
}

.topbar {
  text-decoration: none;
  font-size: 20px;
  color: rgb(43, 42, 42);
  margin-left: 30px;
  letter-spacing: 1px;
  /* font-weigh */
}
a:hover {
  color: #0086ff;
  transition: 0.2s;
}
/* .rgh{margin-right: 100px;} */
.signup {
  color: #fff;
  background-color: #0086ff;
  border-radius: 30px;
  width: 110px;
  margin-right: 40px;
  position: absolute;
  right: 0px;
}
.btn:hover {
  background-color: #0f6bbb;
  color: white;
}
.link {
  position: absolute;
  right: 180px;
}

.logo {
  font-size: 40px;
  margin-left: 50px;
  position: absolute;
  top: 3px;
}
.navbar {
  width: 100%;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
  height: 65px;
  /* align-items: center; */
  z-index: 5;
  top: 0;
  left: 0;
}
.owner {
  font-size: 50px;
}

.carousel-control-prev-icon {
  background-image: url("/media/images/back.png");
}
.carousel-control-next-icon {
  background-image: url("/media/images/next.png");
}

.section {
  margin-top: 90px;
  display: flex;
  margin-left: 50px;
}
.img-1 {
  width: 300px;
}
.text {
  padding: 50px;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.other_links {
  width: 15%;
}
.links {
  /* margin:10px; */
  padding: 5px;
}
.links:hover {
  background-color: rgb(182, 179, 179);
  transition: 0.2s;
  color: black;
}
.link_prods {
  text-decoration: none;
}
.link_prods:hover {
  color: black;
}

.sub-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
li {
  opacity: 0.8;
}
.font {
  font-family: "Open Sans", sans-serif;
}




/* HELP BUTTON */


.btn-help {
  /* float: right; */
  bottom: 0;
  right: 10px;
  background-color: rgba(20, 20, 20, 0.8);
  width: 100px;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  cursor: pointer;
}
.help-details {
  /* background:blie; */
  background: rgba(58, 57, 57, 0.8);
  backdrop-filter: blur(2px);
  bottom: 0px;
  /* filter: blur(4px); */
  /* top:20px; */

  right: 10px;
  display: block;
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: fixed;
  padding: 10px;
}
.help-text {
  color: white;
  padding: 8px;
  /* align-items: center; */
  text-align: center;
  /* margin: auto 0px;*/
}
.help_detail_text {
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
}
form {
  display: grid;
}

.submit {
  width: 120px;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px;
  background-color: rgba(58, 57, 57, 0.8);
  padding: 5px;
  color: white;
}
.submit:hover {
  background-color: rgba(36, 35, 35, 0.8);
  transition: 0.4s;
  color: white;
}

.footer {
  display: flex;
  background-color: rgb(0 0 0 / 98%);
  flex-direction: row;
}

.content1 {
  /* width: 20%; */
  font-size: 35px;
  margin-left: 20px;
}

.content2 {
  margin-left: 95px;
  margin-top: 20px;
  padding: 23px;
  /* margin: auto; */
  /* width: 48%;*/
}

.text1 {
  font-size: 23px;
  color: #1679b5;
  letter-spacing: 0.7px;
}

.b1 {
  display: flex;
  margin-left: 20px;
}

.b2 {
  width: 60%;
}

.text2 {
  letter-spacing: 0.7px;
  font-size: 21px;
  color: white;
}
.text3 {
  font-size: 18px;
  color: #7da6bf;
  width: 70%;
  margin-left: 38px;
  letter-spacing: 0.7px;
}
.b3 {
  width: 40%;
}

.text4 {
  letter-spacing: 0.7px;
  font-size: 21px;
  color: white;
}
.text5 {
  font-size: 19px;
  margin-left: 20px;
  color: #b8b8df;
  letter-spacing: 1px;
}
/* .content3{} */

#link {
  margin: 10px;
  font-size: 18px;
}


@media screen and (max-width: 850px) {
  .footer {
    background-color: rgb(0 0 0 / 98%);
    display: block;
  }
  .content1 {
    padding: 6px 0px;
    margin: 6px;
    font-size: 27px;
  }

  .content2 {
    padding: 0px;
    /* margin-left: 95px; */
    /* margin-top: 20px; */
    margin: 0px 36px;
    width: 100%;
  }
  .content3{display: none;}
  .text1 {
    font-size: 18px;
    color: #1679b5;
    letter-spacing: 0.7px;
  }

  .b1 {
    display: block;
    margin-left: 13px;
  }

  /* .b2{} */

  .text2,
  .text4 {
    letter-spacing: 0.7px;
    font-size: 18px;
    color: white;
  }

  .text3 {
    font-size: 16px;
    color: #7da6bf;
    width: 80%;
    /* margin-left: 38px; */
    letter-spacing: 0.7px;
  }

  .text5 {
    font-size: 17px;
    margin-left: 20px;
    color: #fd7b7b;
    letter-spacing: 1px;
  }
}