body {
  /* background-color:aqua; */
  font-family: Nunito;
}

.topbar {
  text-decoration: none;
  font-size: 20px;
  color: rgb(43, 42, 42);
  margin-left: 30px;
  letter-spacing: 1px;
  /* font-weigh */
}
a:hover {
  color: #0086ff;
  transition: 0.2s;
}
.card:hover {
  color: #0086ff;
  transition: 0.2s;
  border: 1px solid #032b4e;
}
/* .rgh{margin-right: 100px;} */
.btn {
  color: #fff;
  background-color: #0086ff;
  border-radius: 30px;
  width: 110px;
  margin-right: 40px;
  position: absolute;
  right: 0px;
}
.btn:hover {
  background-color: #0f6bbb;
  color: white;
}
.link {
  position: absolute;
  right: 180px;
}

.logo {
  font-size: 40px;
  margin-left: 50px;
  position: absolute;
  top: 3px;
}
.navbar {
  width: 100%;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
  height: 65px;
  /* align-items: center; */
  z-index: 5;
  top: 0;
  left: 0;
}
.owner {
  font-size: 34px;
}

.header {
  text-align: center;
  color: #434446;
  margin-top: 120px;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
}

i {
  color: #0086ff;
  margin-left: -66px;
}

.heading {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.products {
  margin-top: 100px;
  background-color: #abb5bb;
  padding-top: 50px;
  padding-bottom: 1px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0px 50px; */
  width: 91%;
  margin: auto;
}

.card {
  align-items: center;
  align-content: center;
  padding: 7px;
  width: 236px;
  /* height: 249px; */
  border-radius: 15px;
  margin: 20px 20px;
}

.card-img-top {
  height: 163px;
  width: 164px;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 45px #535557;
}

.card-body {
  flex: 1 1 auto;
  /* padding: 1rem 1rem; */
  margin-top: 20px;
}

.bottom {
  display: flex;
}
.address {
  padding: 30px;
  color: rgb(0, 0, 0);
  width: 50%;
}
.contact {
  padding: 30px;
  color: rgb(0, 0, 0);
}
.number {
  text-decoration: none;
  color: #080808;
}
.number:hover {
  color: white;
  transition: 0.2s;
}
.text {
  font-size: 40px;
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 20px;
}

/* contact us */

.contact_us {
  background-image: url(https://image1.jdomni.in/jdomni_email/Contact_S1_Left_1910221303.png),
    url(https://image1.jdomni.in/jdomni_email/mailBox_1910171906.png),
    url(https://image1.jdomni.in/jdomni_email/contactRight1_1910171907.png),
    url(https://image1.jdomni.in/jdomni_email/contactRight2_1910171908.png),
    url(https://image1.jdomni.in/jdomni_email/Contact_Us_S1_Right_1910221304.png);
  background-position: -4% -20%, 21% -9%, 86% -13%, 91% -12%, 107% 118%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 8.5rem, 7rem, 6.5rem, 5.775rem, 13.375rem;
  background-origin: content-box;
  max-width: 1530px;
  padding: 8px 110px;
}

.footer {
  display: flex;
  background-color: rgb(0 0 0 / 98%);
  flex-direction: row;
}

.content1 {
  /* width: 20%; */
  font-size: 35px;
  margin-left: 20px;
}

.content2 {
  margin-left: 95px;
  margin-top: 20px;
  padding: 23px;
  /* margin: auto; */
  /* width: 48%;*/
}

.text1 {
  font-size: 23px;
  color: #1679b5;
  letter-spacing: 0.7px;
}

.b1 {
  display: flex;
  margin-left: 20px;
}

.b2 {
  width: 60%;
}

.text2 {
  letter-spacing: 0.7px;
  font-size: 21px;
  color: white;
}
.text3 {
  font-size: 18px;
  color: #7da6bf;
  width: 70%;
  margin-left: 38px;
  letter-spacing: 0.7px;
}
.b3 {
  width: 40%;
}

.text4 {
  letter-spacing: 0.7px;
  font-size: 21px;
  color: white;
}
.text5 {
  font-size: 19px;
  margin-left: 20px;
  color: #b8b8df;
  letter-spacing: 1px;
}
/* .content3{} */

#link {
  margin: 10px;
  font-size: 18px;
}


@media screen and (max-width: 850px) {
  .footer {
    background-color: rgb(0 0 0 / 98%);
    display: block;
  }
  .content1 {
    padding: 6px 0px;
    margin: 6px;
    font-size: 27px;
  }

  .content2 {
    padding: 0px;
    /* margin-left: 95px; */
    /* margin-top: 20px; */
    margin: 0px 36px;
    width: 100%;
  }
  .content3{display: none;}
  .text1 {
    font-size: 18px;
    color: #1679b5;
    letter-spacing: 0.7px;
  }

  .b1 {
    display: block;
    margin-left: 13px;
  }

  /* .b2{} */

  .text2,
  .text4 {
    letter-spacing: 0.7px;
    font-size: 18px;
    color: white;
  }

  .text3 {
    font-size: 16px;
    color: #7da6bf;
    width: 80%;
    /* margin-left: 38px; */
    letter-spacing: 0.7px;
  }

  .text5 {
    font-size: 17px;
    margin-left: 20px;
    color: #fd7b7b;
    letter-spacing: 1px;
  }

  .owner {
    font-size: 27px;
  }

  .heading {
    font-size: 33px;
    text-align: center;
    letter-spacing: 1px;
  }

  .categories {
    display: block;
    flex-wrap: wrap;
    /* margin: 0px 50px; */
    width: 96%;
    justify-content: center;
    margin: auto;
  }

  .card {
    align-items: center;
    /* align-content: center; */
    padding: 20px;
    width: 96%;
    flex-direction: row;
    /* height: 249px; */
    border-radius: 10px;
    margin: 35px auto;
  }

  .card-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  .card-img-top {
    height: 119px;
    width: 126px;
  }
}

/* HELP BUTTON */
.help-text {
  color: white;
  padding: 8px;
  /* align-items: center; */
  text-align: center;
  /* margin: auto 0px;*/
}
.help_detail_text {
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
}
.help-details{
background: rgba(58, 57, 57, 0.8);
backdrop-filter: blur(2px);
bottom: 0px;
/* filter: blur(4px); */
/* top: 20px; */
right: 10px;
display: block;
border: none;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
position: fixed;
padding: 10px;
}
form {
  display: grid;
}

.btn-help {
  /* float: right; */
  bottom: 0;
  right: 10px;
  background-color: rgba(20, 20, 20, 0.8);
  width: 100px;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  cursor: pointer;
}

.submit {
  width: 120px;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px;
  background-color: rgba(58, 57, 57, 0.8);
  padding: 5px;
  color: white;
}
.submit:hover {
  background-color: rgba(36, 35, 35, 0.8);
  transition: 0.4s;
  color: white;
}

/* HELP BUTTON ENDS */
