{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- END -->

    
   <!--AOS -->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--END-->

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- END -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/categories.css' %}"
    />

    <title>Categories</title>
  </head>
  <body>

    {% for i in categories  %}
    <a
    href="{% url 'categories' i.id %}"
    alt="Aata Chakki"
    style="text-decoration: none; color: black"
    data-aos="fade-right"  data-aos-delay="150" 
    data-aos-duration="500"
    data-aos-easing="ease-in-out" 
  >

    <div class="card">
      
      <div ><img  class="card_img" src="/media/{{i.category_img}}"></div>
      <div class="card-body">
        <p class="card-title">{{i.name}}</p>
      </div>
    </div>
  </a>
    {% endfor %}


    <div class="btn-help" id="btn" onclick="fun()">
      <p class="help-text">Help</p>
    </div>
    <script>
      function fun() {
        var y = document.getElementById("help");
        var x = document.getElementById("btn");

        if (y.style.display == "block") {
          y.style.display = "none";
          x.style.display = "block";
        } else {
          y.style.display = "block";
          x.style.display = "none";
        }
      }
    </script>
    
    <div class="help-details" id="help" style="display: none">
      <p
        style="
          color: white;
          font-size: 25px;
          text-align: center;
          /* padding: 1px; */
          cursor: pointer;
          margin: 10px;
        "
        onclick="fun()"
      >
        Help
      </p>
      <form action="#" method="POST">
        {% csrf_token %}
        <input
          class="help_detail_text"
          type="text"
          placeholder="Enter Your Name"
          name="name"
        />
        <input
          class="help_detail_text"
          type="number"
          placeholder="Enter Phone Number"
          name="phno"
        />
        <textarea
          class="help_detail_text"
          type="text"
          placeholder="Write your Problem"
          name="problem"
        ></textarea>
        <input class="submit" type="submit" />
      </form>
    </div>

    
    <div class="footer">
      <div class="content1">M<span style="color: #4da0e9">odi.</span></div>

      <div class="content2">
        <p class="text1">CONTACT US :</p>
        <div class="b1">
          <div class="b2">
            <p class="text2">Address:</p>
            <p class="text3">
              Kumher Gate Near Picture Palace, Bharatpur, Rajasthan (321001)
            </p>
          </div>

          <div class="b3">
            <p class="text4">Call Us :</p>

            <a href="tel:946-217-1642" style="text-decoration: none">
              <p class="text5">9462171641</p>
            </a>
          </div>
        </div>
      </div>

      <div class="content3">
        <a href="{% url 'categories' 2 %}"
          ><p id="link">Residential Coolers</p></a
        >
        <a href="{% url 'categories' 1 %}"><p id="link">Atta Chakki</p></a>
        <a href="{% url 'categories' 4 %}"
          ><p id="link">Electrical Appliances</p></a
        >
        <a href="{% url 'categories' 6 %}"><p id="link">Domestic Coolers</p></a>
        <a href="{% url 'categories' 3 %}"><p id="link">RO Spare Parts</p></a>
        <a href="{% url 'categories' 5 %}"><p id="link">PVC Pipes</p></a>
      </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      AOS.init();
    </script>
    
    

  </body>
  </html>