{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <!-- END -->

    <!--AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- END -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/electrical_category.css' %}">
 

    <title>New Home</title>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed;">
            <div class="logo">
                <p style="font-weight: bold;letter-spacing:1px; color:rgb(43, 41, 41)">M<span
                        style="color:#2d98f7">odi</span></p>
            </div>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="link">
                    <a href="\" >Home</a>
                    <a href="#">Products</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
          </nav>
          <div class="header">
          <span class="owner">Electrical Home Appliances</span>
         <div class="input_type">
            <input type="text" class="input-search" placeholder="Search Category">
            <i class="fa fa-search" style="font-size: 20px;"></i>
        </div>
        </div>

  <div class="products">
<p class="heading">Our Products</p>

<div class="categories">
    {% for i in all_prods %}
    <a href="{% url 'electrical_products' i.id%}"  data-aos="fade-right"  data-aos-delay="150" data-aos-duration="500"
    data-aos-easing="ease-in-out" alt="{{i.name}}" style="text-decoration:none;color:black">
<div class="card" >
  <div class="card_img"><img style="width:150px" src="/media/{{i.appliances_img}}"></div>
     <div class="card-body">
      <p class="card-title">{{i.name}}</p>
        </div> 
        </div>
    </a>    
  {% endfor %}
</div>
</div>



<div class="btn-help" id="btn" onclick="fun()">
  <p class="help-text">Help</p>
</div>
<script>
  function fun() {
    var y = document.getElementById("help");
    var x = document.getElementById("btn");

    if (y.style.display == "block") {
      y.style.display = "none";
      x.style.display = "block";
    } else {
      y.style.display = "block";
      x.style.display = "none";
    }
  }
</script>

<div class="help-details" id="help" style="display: none">
  <p
    style="
      color: white;
      font-size: 25px;
      text-align: center;
      /* padding: 1px; */
      cursor: pointer;
      margin: 10px;
    "
    onclick="fun()"
  >
    Help
  </p>
  <form action="#" method="POST">
    {% csrf_token %}
    <input
      class="help_detail_text"
      type="text"
      placeholder="Enter Your Name"
      name="name"
    />
    <input
      class="help_detail_text"
      type="number"
      placeholder="Enter Phone Number"
      name="phno"
    />
    <textarea
      class="help_detail_text"
      type="text"
      placeholder="Write your Problem"
      name="problem"
    ></textarea>
    <input class="submit" type="submit" />
  </form>
</div>




<div id="footer" style="display: flex; background-color: black">
  <div class="content1" style="padding: 20px; width: 20%; font-size: 40px; margin-left: 50px;">
    <div class="typed-out">M<span style="color: #4da0e9">odi.</span></div>
  </div>
  <div class="content2" style="width: 60%; display: flex">
    <div style="margin: 28px 10px;">
      <p style="color: white; font-size: 22px;letter-spacing:1.5px">CONTACT</p>
      <p style="color: white; margin-left:10px; font-size: 20px;letter-spacing:1.0px">Address:</p>
      <p style="font-size: 17px;margin-left:20px; color: white; width: 300px;letter-spacing:1.0px">
        Kumher Gate Near Picture Palace, Bharatpur, Rajasthan (321001)
      </p>
    </div>
    <div style="margin: 28px 10px;padding:30px">
      <p style="color: white; margin-left:10px; font-size: 20px;letter-spacing:1.0px">Call Us :</p>
      <p style="font-size: 20px">
        <a style="text-decoration: none;font-size: 17px;margin-left:20px; color: #ee3636; width: 300px;letter-spacing:1.0px" href="tel:946-217-1642"
          >9462171641</a
        >
      </p>
      <a
        href="https://maps.app.goo.gl/DZy4obXbETJMjJfN8"
        style="text-decoration: none;font-size: 17px;margin-left:20px; color: #ee3636; width: 300px;letter-spacing:1.0px"
        target="blank"
        alt="map_loction"
        ><img
          src="/media/images/location2.png"
          style="width: 30px"
          alt="location"
        />&nbsp Locate On Map</a
      >
     
    </div>
  </div>
  <div class="content3"></div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>
