{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- END-->

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- END -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

    <title> Classifiyo</title>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
    <a class="navbar-brand" href="#">
      <div class="logo">
        <p
          style="font-weight: bold; letter-spacing: 1px; color: rgb(43, 41, 41)"
        >
          M<span style="color: #2d98f7">odi</span>
        </p>
      </div>
    </a>

       

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="links" id="nav-links">
          <a class="topbar" href="/" onclick="return back()">Home</a>
          <a class="topbar" href="#products">Categories</a>
          <a class="topbar" href="#contact_us">Contact Us</a>
          <a class="topbar" href="#about_us">About Us</a>
        </div>
        <div class="btn signup">SignUp</div>
      </div>
    </nav> 

    <div class="header" id="header">
      <div class="name">
        <p class="owner">Gokul Chand Ramesh Chand</p>
        <div class="content">
          <div class="typed-out">M<span style="color: #4da0e9">odi.</span></div>
        </div>
      </div>

      <div class="input_type">
          <input
            type="text"
            class="input-search"
            placeholder="Search Category"
          />
          <span style="margin-top: 16px;
          margin-left: 20px;">       <i class="fa fa-search" style="font-size: 20px; margin:none"></i></span>
      </div>
    </div>

    {% if messages %} 
    {% for message in messages %}
    <div class="credentials_box" id="cred_box">
      <p class="message">
        {{message}}
      </p>
    </div>
    {% endfor %} {% endif %}

    <script>
      setTimeout(function () {
        document.getElementById("cred_box").style.display = "none";
      }, 2000);
    </script>
    <div class="products" id="products">
      <p class="heading">Categories</p>

      <div class="categories">
        {% for i in categories %}
        <a
          href="{% url 'categories' i.id %}"
          alt="Aata Chakki"
          style="text-decoration: none; color: black"
        >
          <div class="card">
            <div><img class="card_img" src="/media/{{i.category_img}}" /></div>
            <div class="card-body">
              <p class="card-title">{{i.name}}</p>
            </div>
          </div>
        </a>
        {% endfor %}
        <a
          href="#"
          alt="other products"
          style="text-decoration: none; color: black"
        >
          <div class="card" style="width: 310px; margin: auto">
            <div class="card-body">
              <p class="card-title">Other Products</p>
            </div>
          </div>
        </a>
        <!--Categories ENDS-->
      </div>
    </div>

    <!-- OUR Company -->
    <div class="section-3">
      <p class="heading">Our Products</p>
      <marquee direction="left" scrollamount="10">
        <div class="our_products">
          <div class="product">
            <img class="img-logo" src="/media/image/our_products/atul.png" />
          </div>
          <div class="product">
            <img
              class="img-logo"
              src="/media/image/our_products/mycrofine.png"
            />
          </div>
          <div class="product">
            <img class="img-logo" src="/media/image/our_products/havells.png" />
          </div>
          <div class="product">
            <img class="img-logo" src="/media/image/our_products/usha.png" />
          </div>
          <div class="product">
            <img class="img-logo" src="/media/image/our_products/orient.png" />
          </div>
          <div class="product">
            <img
              class="img-logo"
              src="/media/image/our_products/maharaja.png"
            />
          </div>
          <div class="product">
            <img
              class="img-logo"
              src="/media/image/our_products/sunflame.jpg"
            />
          </div>
        </div>
      </marquee>
    </div>

    <div class="contact_us" id="contact_us">
      <div class="col1">
        <p class="text">Contact Us</p>
        <p class="sub-text">
          Are you experiencing product issues or have some query regarding our
          Products ?<br /><b
            >Fill the form our Team will Contact you for resolving your
            problem.</b
          >
        </p>

        <form action="/" method="POST" style="margin-left:12px">
          {% csrf_token %}
          <div class="form_input">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Name"
              name="name"
            />

            <input
              type="number"
              class="form-control"
              placeholder="Enter Phone Number"
              name="phno"
            />

            <textarea
              type="text"
              placeholder="Write your Problem"
              name="problem"
            ></textarea>
          </div>

          <input class="submit" type="submit" />
        </form>
      </div>


      <!--Address -->
      <div class="col2">
        <div class="box">
          <div class="address">
            <div style="display:flex;margin-left:10px padding:30px">
              <img
                src="/media/images/location.png"
                alt="location"
               class="icons"
              />
              <div style="margin-left: 20px">
                <p id="contact_text">Address</h3>
                <p class="address_text">
                  Kumher Gate Near Picture Palace, Bharatpur, Rajasthan (321001)
                </p>
                <span
                  ><a
                    href="https://maps.app.goo.gl/DZy4obXbETJMjJfN8"
                    style="text-decoration: none"
                    target="blank"
                    alt="map_loction"
                    ><img src="/media/images/location2.png" style="width: 30px;"
                    alt="location">&nbsp Locate On Map</a></span>
              </div>
            </div>
          </div>
        

          <div class="Contact">
            <div style="display: flex;">
              <img
                src="/media/images/call.png"
                alt="call"
               class="icons"
              />
              <div style="margin-left: 20px">
                <p id="contact_text">Call Us</h3>
                <p class="address_text">
                  <a style="text-decoration: none" href="tel:946-217-1642"
                    >9462171641</a
                  >
                  <br />Wed to Monday- 10:00 am to 8:00 pm
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer style="background-color:black; padding:40px">
      <center>© Copyright 2022 All Rights Reserved.</center>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      AOS.init();
    </script>
  </body>
</html>
